[submodule "echo-server"]
	path = echo-server
	url = https://github.com/mzyzc/echo-server.git
[submodule "echo-android"]
	path = echo-android
	url = https://github.com/mzyzc/echo-android.git
[submodule "echo-web"]
	path = echo-web
	url = https://github.com/mzyzc/echo-web.git
